@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  margin: 0; /*Espaçamento externo do elemento*/
  padding: 0; /*Espaçamento entre o conteudo e borda*/
  border: 0; /*Bordas para as caixas*/
}

/*body {
  align-items: center; /*Alinha os itens no centro
  justify-content: center; /*Alinha os elementos horizontalmente

  height: 100vh; /*Altura
  margin: 0; /*Espaçamento externo do elemento
  transition: background 0.2s linear; /*Define um efeito de filtro com uma duração de 0,2 segundos
}*/

body.dark {
  background: #292c35; /*Cor*/
}

.checkbox {
  opacity: 0; /*Deixa meio transparente*/
  position: absolute; /*Representação do layout da caixa*/
}

.label {
  margin-top: 15em; /*Define a distância entre um elemento e o elemento que está acima dele*/
  margin-left: 110em; /*Dimensão da margem esquerda*/
  box-sizing: border-box; /*Altera a forma como o navegador calcula a largura e a altura de um elemento*/
  background-color: #111; /*Cor do fundo*/
  border-radius: 50px; /*Bordas arredondadas*/
  cursor: pointer; /*Altera o cursor do mouse quando ele passa sobre um elemento específico*/
  display: flex; /*Permite organizar elementos em um container de forma flexível*/
  justify-content: space-between; /*Alinha os elementos horizontalmente*/
  align-items: center; /*Alinha os itens no centro*/

  padding: 5px; /*Espaçamento entre o conteudo e borda*/
  position: relative; /*Representação do layout da caixa*/
  height: 20px; /*Altura*/
  width: 45px; /*Largura*/
  transform: scale(1.5); /*Redimensiona um elemento no plano 2D*/
}

.label .ball {
  background-color: #fff; /*Cor do fundo*/
  border-radius: 50%; /*Bordas arredondadas*/
  position: absolute; /*Representação do layout da caixa*/
  top: 2px; /*Move a caixa 32% para baixo*/
  left: 2px; /*Move a caixa 30% para a esquerda*/
  height: 18px; /*Altura*/
  width: 18px; /*Largura*/
  transform: translateX(0px); /*Usada para reposicionar um elemento horizontalmente na página*/
  transition: transform 0.2s linear; /*Define um efeito de filtro com uma duração de 0,2 segundos*/
}

.checkbox:checked + .label .ball {
  transform: translateX(24px); /*Usada para reposicionar um elemento horizontalmente na página*/
}

.fa-moon {
  color: #111; /*Cor do ícone, preferi tirar esses icones*/
}

.fa-sun {
  color: #111; /*Cor do ícone, preferi tirar esses icones*/
}
